/*
Theme Name: Custom
Author: Hernan Baigorria
Author URI: 
Description: Tema realizado con una estructura base de bootstrap v4.
Version: 2.0
License: None
*/

/* GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html, body {
  
}

body {
	font-size: 12px;
	background:#fff;
}


/* PRESETS CLASSES /////////////////////////////////////////// */


.font-size-1 {

	font-size:33pt;
}

.font-size-2 {

	font-size:40pt;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.clearfix {
    clear: both;
}

.margin-0 {
	margin: 0;
}

.padding-0 {
	padding: 0;
}

.padding-20 {
	padding: 20px;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-right-0 {
	padding-right: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.row {
	margin: 0;
}

.cont-full-w {
	width: 100%;
	position: relative;
	padding: 50px 0;
}

.salud-img {

	max-width:100%;
	height:auto;
	display:block;
}

.grid-cont {

  margin-bottom:30px;
}


.img-responsive {max-width:100%;}




h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	margin: 0 0 10px 0;
	line-height: 120%;
}

	h1, .h1, h2, .h2 {
		line-height: 90%;
	}

h1, .h1 {
	font-size: 54px;
}

h2, .h2 {
	font-size: 48px;
}

h3, .h3 {
	font-size: 43px;
}

h4, .h4 {
	font-size: 30px;
}

h5, .h5 {
	font-size: 18px;
	line-height: 24px;
}

h6, .h6 {
	font-size: 15px;
	line-height: 22px;
}

p {
	font-size: 12px;
	line-height: 18px;
}

a, a:hover {
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
}

a:hover {
	color: #8f875f;
}

.bold {
	font-weight: 700;
}

.medium {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

ul {
	margin: 0;
	list-style: none;
}

hr {
	border-top: 2px solid #FFF;
}

input, textarea {
	padding: 15px;
	border: 0;
	float: left;
	font-size: 16px;
	margin-bottom:20px;
}


.color-navbar {

	    background: rgba(4,193,221,0.8);
    width: 100%;

}

.padding-left0{

	padding-left: 0;
	width:35% !important;
}

.btn-enviar {

	width:90%;
	margin-bottom:20px;
}

	input.campo {
		    margin-left: 29%;
	}

input[type="submit"] {
	background: #747269;
	color: #FFF;
	padding: 13px 16px;
	margin-bottom:0;
}

input[type="submit"]:hover {
	background: #C9C4A6;
}

::-webkit-input-placeholder {
   color: #747269;
   font-family: "Alegreya", serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #747269;
   font-family: "Alegreya", serif;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #747269;
   font-family: "Alegreya", serif;  
}

:-ms-input-placeholder {  
   color: #747269; 
   font-family: "Alegreya", serif; 
}

a.btn {
	padding: 10px 25px;
	color: #e0ded2;
	background: transparent;
	border: 1px solid #e0ded2;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	max-width: 130px;
}

a.btn:hover {
	background: #e0ded2;
}



/* COLOR - CLASSES */

.black {
	color: #000;
}

.white {
	color: #FFF;
}

.gris-1 {
	color: #445254; 
}

.gris-2 {
	color: #A92241; 
}

.blanco {
	color: #fff; 
}

.gris-3 {
	color: #c9c4a6;
}

.gris-4 {
	color: #393936;
}

.gris-5 {
	color: #a8a18d;
}

.verde {
	color: #8f875f;
}

.bg-black {
	background-color: #000;
}

.bg-white {
	background-color: #FFF;
}

.bg-gris-1 {
	background: transparent; 
}

.bg-verde {

	    background: #897d31;
}

.bg-celeste {

	background: #1eb3ba;
}

.bg-gris-2 {
	background: #621123; 
}

.bg-gris-3 {
	background: #c9c4a6; 
}

.bg-gris-4 {
	background: #445254; 
}

.bg-gris-5 {
	background: #a8a18d; 
}

.bg-verde {
	color: #8f875f;
}

.bg-marron {

	background:#6b6125;
}

.bg-amarillo {

	background:#ddae0d;
}
.bg-celeste {

	background:#2ecde4;
}


.btn-volver {

	margin-top: 20px;
	float:left;
}




/*YOUR CSS*/

.custom-nav ul li {display:inline-block;margin:0 15px;}
.custom-nav ul li a {text-decoration:none;color:#27313c;text-decoration:none;transition:.6s;font-family: 'Oswald', sans-serif;text-transform:uppercase;font-size: 0.9rem;border: 1px transparent solid;padding: 3px 5px;}
.custom-nav ul li a:hover {text-decoration:none;color:#3fa6a6;text-decoration:none;transition:.6s;}

.principal_background {background:url(../as-template/images/home_fondo.jpg);min-height:100vh;background-position:center;background-size:cover;}
.menu-principal {width:100%;margin:auto 0 -8%;}
.menu-principal .item-menu p {padding-bottom: 4px;display:inline-block;font-family: 'Open Sans', sans-serif;color: #fff;font-size: 15px;font-weight: 400;margin:5px 0 0;transition:.6s;border:2px transparent solid;}

.logo-large {max-width:130px;display:inline-block;margin:0 130px;}

.item-menu {margin: 0 45px;width: 100%;max-width: 75px;text-align: center;}
.item-menu:hover, .item-menu:active, .item-menu:focus {text-decoration:none;transition:.6s;outline:none;}
.item-menu:hover p {color:#f86c46;border-bottom:2px #f86c46 solid;transition:.6s;}

.item-menu:hover .icon-01 {background:url(../as-template/images/icon_01_hover.png);transition:.6s;}
.icon-01 {transition:.6s;background:url(../as-template/images/icon_01.png);min-height: 110px;background-size: cover !important;background-position: center !important;}


.item-menu:hover .icon-02 {background:url(../as-template/images/icon_02_hover.png);transition:.6s;}
.icon-02 {transition:.6s;background:url(../as-template/images/icon_02.png);min-height: 110px;background-size: cover !important;background-position: center !important;}

.item-menu:hover .icon-03 {background:url(../as-template/images/icon_03_hover.png);transition:.6s;}
.icon-03 {transition:.6s;background:url(../as-template/images/icon_03.png);min-height: 110px;background-size: cover !important;background-position: center !important;}

.item-menu:hover .icon-04 {background:url(../as-template/images/icon_04_hover.png);transition:.6s;}
.icon-04 {transition:.6s;background:url(../as-template/images/icon_04.png);min-height: 110px;background-size: cover !important;background-position: center !important;}

.redes-home {text-align: center;margin: auto 0 -9%;display: inline-block;}

.rede-h {transition:.6s;border:1px transparent solid;background: #fff;border-radius: 100%;padding: 4px;color: #000;font-size: 13px;text-align: center;margin: 0 5px;width: 21px;height: 21px;}
.rede-h:hover {background: #320033;border: 1px #fff solid;color:#fff;transition:.6s;text-decoration:none;}

.link-mail {width: 100%;display: block;margin: 10px 0;transition:.6s;text-align: center;color: #fff;font-family: 'Open Sans', sans-serif;font-size: 15px;}
.link-mail:hover {text-decoration:none;outline:none;opacity:.6;transition:.6s;}

.derechos {background: rgba(0, 0, 0, 0.5);padding: 10px;text-align: center;width: 100%;margin: auto 0 0;display: inline-block;clear: both;}
.derechos p {font-family: 'Open Sans', sans-serif;color:#fff;margin: 0;font-size: 11px;opacity: .5;}


/* CROSS BROWSING /////////////////////////////////////////// */

/* FF */

@-moz-document url-prefix() {
		
 }


/* IE 11 */

::-ms-backdrop, .looks-cont-single { 
	max-width: 1140px;
	outline: none;
}

::-ms-backdrop, .looks-cont-single .navigation { 
	bottom: -16px;
}

/* IE 10 */

@media all and (-ms-high-contrast:none) { 

}

/* MEDIA QUERIES /////////////////////////////////////////// */

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {

	.propiedad_back_01, .propiedad_back_02 {text-align:center;background-position:center;}
	.icons h2 {font-size: 1.4rem;}
	.propiedad_back_01 h3, .propiedad_back_02 h3 {left: 0;right: 50%;}
	.comerciales_fondo {background-position:center;}
	.residencial_fondo, .propuesta_fondo {background-position:center !important;}
	.newsletter #send {padding:8px 20px;}
	.portada_contacto {background-position:30%;}
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait)  {

  	.navbar-light .navbar-toggler {margin:17px 0;}
  	.menu {padding: 0;margin-top: 15px;}
  	.custom-nav ul li {display: block;margin: 10px 0;text-align: left;}
  	.navbar-toggler {border:none;}
  	.navbar-toggler:focus {outline:none;}
  	.redes {margin:0 10px;}
  	.residencial_fondo, .propuesta_fondo {background-position:left !important;}
  	.portada_sobre_mi {min-height: 35vh;}
  	.portada_sobre_mi h3 {max-width:60%;}
}

@media only screen 
  and (max-width: 767px) {

  	.portada_sobre_mi {background-position:left;}
  	footer p {text-align:center;margin:0 0 25px;}
  	footer img {margin-top:25px;}
  	.navbar-toggler {border:none;}
  	.navbar-toggler:focus {outline:none;}
  	.navbar-toggler-right {top:1.5rem;}
  	.custom-nav ul li {width:100%;text-align:left;margin:10px 0;}
  	.menu {padding:0;margin-top: 10px;}
  	.sobre_mi h3 {margin:45px 0 0;}
  	.icons h2 {margin-bottom:25px;}
  	.propiedad_back_01 , .propiedad_back_02 {background-position:center;}
  	.propiedades-info h2 {line-height:normal;}
  	.text-absulote p {color:#fff;}
  	.slider-content-exp h3 {color:#fff;}
  	.slider-content-exp p {color:#fff;height: 190px;}
  	.slider-content-exp {background-size: cover !important;background-position: center !important;}
  	form ol {margin:0 -15px;}
  	.residencial_fondo {background-position: 65% !important;}
  	.middle-box {background:#f9f9f9}

  	.newsletter form ol {margin:0;}
  	.newsletter {padding:40px 0}
  	.newsletter #submit-message-n {margin-bottom:25px;}

  	.propiedades-info h3 {font-size: 1.6rem;}
  	.comerciales h3, .middle-box h3 {font-size: 1.8rem;}

  	.portada_sobre_mi {min-height:60vh;background:#3fa6a4;}

  	
  }

/*Wordpress editor styles end*/
